body {
    font-size: 14px;
    text-align: center;
}

h2 {
{
    margin-left: 10%;
    margin-bottom: 5%;
}

.thanks {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    margin-top: 10%;
}




h3 {
    font-family: 'Playfair Display', serif;
    margin-top: 10%;
}

nav {
    position: absolute;
    top: 60%;
    left: 30%;
}

nav ul li {
    position: relative;
    display: inline-block;
    padding-right: 2%;
}

a {
    color: green;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
}

a:hover {
    color: #af7f29;
    text-decoration: none;
}

a:visited {
    color: #af7f29;
    text-decoration: none;
}

/* Responsive breakpoints */


@media (max-width: 575.98px) {
    nav {
        margin-top: 30%;
        margin-left: -30%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    nav {
        margin-top: 20%;
        margin-left: -15%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    nav {
        margin-top: 15%;
        margin-left: -10%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    nav {
        margin-top: 15%;
        margin-left: -5%;

    }
}

@media (min-width: 1200px) {
    nav {
        margin-top: 10%;
    }

}


